/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --main-color: #141922;
    --secondary-color: #282828;
    --font-color: #85878c;
    --detail-color: #adff2f;
    --bar-empty-color: #5a5a5a;
    --bar-full-color: #c1c1c1;
    --fixed-space-sm: 50px;
    --fixed-space-md: 80px;
    --fixed-space-lg: 200px;
}

/* UTILITY */
body {
    font-family: 'Montserrat', sans-serif;

    /* ! DA RIMUOVERE */
    color: white;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.just-center {
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.btn {
    border: 1px solid white;
    border-radius: 25px;
    padding: 12px 35px;
    font-size: 12px;
    font-weight: 500;
}

#btn-add {
    background-color: var(--font-color);
    color: black;
    font-size: 30px;
    font-weight: 500;
    padding: 0px 12px;
}

.display-tablet {
    display: none;
}

/* HEADER */
header {
    background-color: black;
    width: var(--fixed-space-sm);
    position: fixed;
    height: calc(100%  - var(--fixed-space-md));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header img {
    width: 30px;
    padding-top: 5px;
}

#logo-lg {
    display: none;
}

.playlist {
    padding-left: 0px;
}

.div-border {
    width: 180px;
    border: 1px solid var(--font-color);
}

.add-pl {
    padding-left: 0px;
}

/* MAIN */
.main-container {
    height: calc(100vh - var(--fixed-space-md));
    background-color: var(--main-color);
    overflow-y: auto;
    padding-left: var(--fixed-space-sm);
}

.inside-header {
    height: var(--fixed-space-md);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: calc(100% - var(--fixed-space-sm));
    top: 0;
    right: 0;
    z-index: 1;
    justify-content: right;
}

.inside-content {
    padding-top: var(--fixed-space-md);
}

/* FOOTER */
footer {
    height: var(--fixed-space-md);
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
}




/************************/
/*      RESPONSIVE      */
/************************/

/* SCREEN @768px */

@media screen and (min-width: 768px) {


    /* Utility */
    .display-tablet {
        display: block;
    }

    header {
        width: var(--fixed-space-lg);
    }

    header img  {
        display: block;
    }

    header div {
        padding-left: 10px;
    }

    header ul li {
        display: flex;
        align-items: center;
    }

    #logo-sm {
        display: none;
    }

    #logo-lg {
        display: block;
        width: 150px;
    }

    .playlist {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .main-container {
        padding-left: var(--fixed-space-lg);
    }
    
    .inside-header {
        width: calc(100% - var(--fixed-space-lg));
    }
}